section {
  &.grid-view {
    ul.filmstrip > li > div > div.filmstrip-item {
      > div.page-number {
        top: 100%;
        text-align: left;
      }

      &.skipped {
        > svg.fa-eye-slash {
          left: 50%;
        }
      }
    }
  }
  ul.filmstrip{
    position: relative;

    * {
      font-family: "Roboto",Helvetica,Arial,sans-serif;
      user-select: none;
    }

    > li {
      > div {
        > hr, > div {
          margin: 0 24px 0 0;
          position: relative;
        }
    
        > hr {
          border: 1px solid transparent; 
          margin: 0 24px 0 0;

          &.active { border-color: #eda912; }
        }
    
        > div {
          display: flex;
          position: relative;
    
          > div.page-number {
            position: absolute;
            top: 2px;
            text-align: right;
            font-size: 12px;
            width: 24px;
            margin-right: 10px;
          }
    
          rect.box {
            box-sizing: border-box;
            stroke: #dadce0;
            stroke-width: 1px;
            border-radius: 4px;
            background: #fff;
            fill: none;
          }
    
          &:hover, &.active {
            rect.box { stroke-width: 2px; }
          }
    
          &.active {
            background: #fdf7e6;
            rect.box { stroke: #eda912; }
          }
    
          &.skipped {
            > svg.fa-eye-slash {
              font-size: 20px;
              position: absolute;
              left: calc(50% + 15px);
              top: 50%;
              transform: translate(-50%, -50%);
              opacity: 0.75;
            }
          }
        }
      }
    }
  }

  &.grid-view {
    > div {
      background-color: #f8f9fa;
      
      > ul.filmstrip {
        margin: 0 auto;
        min-width: 328px;

        > li {
          display: inline-block;
          margin-bottom: 40px;
  
          > div {
            display: flex;
  
            > hr, > div {
              margin: 0 6px;
              position: relative;
            }
          }
        }
      }
    }
  }
}