.menu-icon{
  width: 18px;
  height: 18px;
  background: image-url('sprite.svg');
  background-size: 288px 288px;
  margin-right: 8px;
  opacity: .7;
}

section.dropdown-menu {
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;

  hr {
    width: 100%;
    border-style: none;
    border-top: 1px solid #dadce0;
  }

  > div.dropdown-button {
    border: 1px solid transparent;
    background-color: #f1f3f4;
    &:active { background-color: #e8eaed;}
  }

  &.hidden{
    > div.dropdown-body {
      display: none;
    }

    &:not(:hover) {
      > div.dropdown-button {
        background-color: #fff;
      }
    }
  }
}

ul.docs-menu, ul.toolbar-menu{
  section.dropdown-menu {
    div.menu-item.no-action  {
      > .menu-item-icon, >.menu-item-name{
        opacity: 0.5;
      }
    }
    div.dropdown-button {
      padding: 8px 16px;
    }
    > div.dropdown-body {
      border-radius: 0 4px 4px 4px;
      padding: 8px 0;
      border: 1px solid transparent;
      top: 0px;
      left: 234px;
      min-width: 234px;
    }
  }
}

div.color-palette{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  user-select: none;
  padding: 4px 0;

  .transparent {
    width: 100%;
    margin: 0 8px 4px 8px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;

    &:hover { background-color: #f1f3f4;}
    &:active { background-color: #e8eaed;}
  }

  .color-picker {
    display: flex;
    
    > div {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin: 2px;
      border: 1px solid;
      position: relative;
      display: flex;  
      
      &:hover {
        box-shadow: 0 0 2px 2px #0000001f;
        transform-origin: 50% 50%;
        transform: scale(1.05);
        &:active { box-shadow: 0 0 2px 2px #0000002f;}

        > span {
          display: block;
        }
      }
    }
    
  }
}

ul.docs-menu {
  display: flex;
  flex-direction: row;

  .submenu-indicator {
    width: 12px;
    height: 18px;
    background: image-url('sprite.svg');
    background-size: 288px 288px;
    background-position-x: -21px;
    background-position-y: -198px;
  }
  

  &.tier-0 {
    > li > section.dropdown-menu {
      > div.dropdown-button {
        padding: 4px 6px;
        border-radius: 4px;

        
        .menu-icon{ display: none; }
        .submenu-indicator {display: none;}
      }
      
      &:not(.hidden) {
        > div.dropdown-button {
          background-color: #feefc3;
        }
      }
      
      > div.dropdown-body {
        top: 28px;
        left: 0px;
      }
    }
  }
}

ul.toolbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 22px;

  
  &.tier-0 {
    > hr {
      width: 1px;
      height: 28px;
      display: inline-block;
      border: none;
      border-style: none;
      border-left: 1px solid #dadce0;
      margin: 0 4px;
    }
    li:hover {
      > section.hidden > div > div > .menu-item-name{
        visibility: visible;
        opacity: 1;
        transition-delay: 0.4s;
        transition-property: visibility, opacity;
      }
    }

    > li > section:not(.hidden){
      > div.dropdown-button .menu-icon {
        opacity: 1;
      }
    }

    > li > section {
      > div.dropdown-button {
        margin: 3px 1px;
        padding: 3px 3px;
        border-radius: 4px;
        background-color: #f1f3f4;
        &:active { background-color: #e8eaed;}

        .menu-icon { margin-right: 0px; }
        .submenu-indicator {
          width: 12px;
          height: 18px;
          background: image-url('sprite.svg');
          background-size: 288px 288px;
          background-position-x: -3px;
          background-position-y: -198px;
        }
        
        .menu-item-name{
          position: absolute;
          z-index: 1;
          top: 30px;
          left: 50%;
          transform: translateX(-50%);
          width: auto;
          opacity: 0;
          background-color: #2a2a2a;
          color: #fff;
          font-size: 11px;
          font-weight: 500;
          line-height: 11px;
          padding: 8px;
          visibility: hidden;
          display: block;
          white-space: nowrap;

          &::before {
            content: " ";
            height: 6px;
            width: 6px;
            background-color: #2a2a2a;
            position: absolute;
            left: 50%;
            transform: translate(-3px, -11px) rotate(45deg) ;
          }
        }
      }

      &:not(.hidden) {
        > div.dropdown-button {
          background-color: #feefc3;
        }
      }
      
      > div.dropdown-body {
        top: 28px;
        left: 0px;
      }
    }
  }
}