section.page.presentation{
  display: block;
  box-sizing: border-box;
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;

  > header {
    display: flex;
    align-items: center;
    z-index: 2;
    height: 64px;
    top: 0px;
    width: 100%;
    user-select: none;

    div.icon-wrapper {
      margin: 4px 4px 4px 8px;
      padding: 8px;
    }

    section.titlebar {
      display: flex;
      flex: 1 0 auto;
      justify-content: space-between;
      align-items: center;
      height: 64px;

      div.docs-title-widget {
        margin-top: 9px;
        align-self: flex-start;
        display: flex;
        flex-direction: column;

        input.doc-title-input {
          padding: 2px 7px;
          font-family: "Google Sans", "Roboto", Helvetica,Arial,sans-serif;
          font-size: 18px;
          line-height: 22px;
          height: 20px;
          border-radius: 2px;
          border: 1px solid transparent;
          // color: #777;

          &:focus {
            color: #000;
          }
        }

        > div:last-child {
          display: flex;
          flex-direction: row;

          > div.last-update {
            margin: 1px 20px;
            padding: 4px 6px;
            color: #777;
            font-family: "Roboto",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 18px;
          }
        }
      }

      .titlebar-buttons{
        padding: 0 12px 0 16px;
        align-self: center;
      }
    }
  }

  section {
    background-color: #fff;
  }

  > section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: calc(100% - 64px);
    border-top: 1px solid #dadce0;
    box-sizing: border-box;

    > section {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;

      > section.toolbar{
        height: 40px;
        display: flex;
        align-items: center;
        z-index: 1;
        user-select: none;
      }

      > section.two-panel-layout {
        z-index: 0;
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #dadce0;
        height: calc(100% - 40px);

        > section.filmstrip {
          overflow-y: auto;
          flex: 0 1 auto;
          width: 220px;
          z-index: 1;
        }

        > section.workspace {
          border-left: 1px solid #dadce0;
          flex: 1 0 auto;
          overflow: scroll;
        }
      }
    }

    section.app-switcher {
      width: 56px;
      flex: 0 1 auto;
      border-left: 1px solid #dadce0;
      z-index: 1;
      overflow: hidden;
      user-select: none;
    }
  }
}