section.page.presentation{
  display: block;
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;

  > header {
    display: flex;
    align-items: center;
    z-index: 2;
    height: 64px;
    top: 0px;
    width: 100%;
    user-select: none;

    div.icon-wrapper {
      margin: 4px 4px 4px 8px;
      padding: 8px;
    }

    section.titlebar {
      display: flex;
      flex: 1 0 auto;
      justify-content: space-between;
      align-items: center;
      height: 64px;

      div.docs-title-widget {
        margin-top: 9px;
        align-self: flex-start;
        display: flex;
        flex-direction: column;

        input.doc-title-input {
          padding: 2px 7px;
          font-family: "Google Sans", "Roboto", Helvetica,Arial,sans-serif;
          font-size: 18px;
          line-height: 22px;
          height: 20px;
          border-radius: 2px;
          border: 1px solid transparent;
          // color: #777;

          &:focus {
            color: #000;
          }
        }

        > div:last-child {
          display: flex;
          flex-direction: row;

          > div.last-update {
            margin: 1px 20px;
            padding: 4px 6px;
            color: #777;
            font-family: "Roboto",Helvetica,Arial,sans-serif;
            font-size: 14px;
            line-height: 18px;
          }
        }
      }

      .titlebar-buttons{
        padding: 0 12px 0 16px;
        align-self: center;
        display: flex;
        align-items: center;
        flex-direction: row; 

        > * {
          margin-left: 16px;
        }

        > div.present-button {
          border: 1px solid #dadce0;
          border-radius: 4px;
          color: #202124;
          font-size: 14px;
          line-height: 14px;
          font-weight: 600;
          padding: 6px 10px;
          display: flex;
          align-items: center;

          &:hover {
            border-color: #feedbc;
            background-color: #fffdf6;
          }

          &:active {
            border-color: #fee8ac;
            background-color: #fff7e1;
            box-shadow: 0 0 4px #0000001f;
          }
        }
      }
    }
  }

  section {
    background-color: #fff;
  }

  > section {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: calc(100% - 64px);
    border-top: 1px solid #dadce0;
    box-sizing: border-box;
    width: 100vw;

    > section {
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      width: calc(100vw - 56px);

      > section.toolbar{
        height: 40px;
        display: flex;
        align-items: center;
        z-index: 1;
        user-select: none;
      }

      > section.two-panel-layout {
        z-index: 0;
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #dadce0;
        height: calc(100% - 40px);

        > section.filmstrip {
          flex: 0 1 auto;
          min-width: 220px;
          z-index: 1;
          display: flex;
          position: relative;
          flex-direction: column;
          justify-content: space-between;

          > div {
            display: flex;
            flex: 1 1 auto;
            overflow-y: auto;
          }

          &.grid-view {
            flex: 1 1 auto;
          }

          ul.view-options {
            width: 100%;
            height: 48px;
            background-color: #fff;
            left: 0;
            bottom: 0;
            display: flex;
            border-top: 1px solid #d1d1d1;

            a {
              flex: 0 0 50%;
              display: flex;
              justify-content: center;
              box-sizing: border-box;

              > div {
                padding: 10px 12px;
                border-top: 2px solid transparent;

                > div {
                  margin: 0;
                }
              }

              &:hover { background-color: #dddddd; }
              &:active { background-color: #cccccc; }
              &.selected > div { border-color: #000 }
            }
          }
        }

        > section.workspace {
          border-left: 1px solid #dadce0;
          flex: 1 1 auto;
        }
      }
    }

    section.app-switcher {
      width: 56px;
      flex: 0 1 auto;
      border-left: 1px solid #dadce0;
      z-index: 1;
      overflow: hidden;
      user-select: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      > a {
        height: 24px;
        width: 24px;
        border-radius: 18px;
        margin-top: 12px;
        user-select: none;
        background-size: cover;
        overflow: none;
        border: 6px solid #fff;
        background-color: #ffffff;

        &:hover {
          border-color: #f1f3f4;
          background-color: #f1f3f4;
        }

        &.portfolio {
          background-image: image-url('external-icons.png');
          background-position-y: 100%;
        }
        &.linkedin {
          background-image: image-url('external-icons.png');
          background-position-y: 50%;
        }
        &.github {
          background-image: image-url('external-icons.png');
        }
      }
    }
  }

  >section.full-screen-wrapper{
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 999;

    &.active {
      display: block;
    }
  }
}