svg {
  g {
    &.svg-edit-frame {
      .control-box, .control-line {
        stroke: #1a73e8;
        stroke-width: 1;
        pointer-events: stroke;
      }
  
      .control-point {
        transform-origin: center;
        pointer-events: all;
        fill: #1a73e8;
        stroke: #fff;
        cursor: crosshair;
  
        &.nwse-resize { cursor: nwse-resize; }
        &.nesw-resize { cursor: nesw-resize; }
        &.ns-resize { cursor: ns-resize; }
        &.ew-resize { cursor: ew-resize; }
      }
    }
    
    &.active .control-background {
      cursor: move;
      stroke: #8ab4f87f;
      stroke-width: 4;
    }
  }
}

svg g.svg-background{
  stroke: #ddd;
}