svg {
  fill: none;
  overflow: visible;
}

svg g.svg-textarea, svg g.svg-textarea > a{
  user-select: none;
  cursor: text;
  background-color: red;
  font: 14px Times; /*SVG default to avoid parent element font styles from grandfathering*/
}

@keyframes cursor-blink{
  0% {opacity: 1} 
  10% {opacity: 0} 
  40% {opacity: 0} 
  50% {opacity: 1} 
  100% {opacity: 1} 
}

svg g.svg-textarea{
  cursor: text;

  g.svg-textarea-select{
    // fill: #0000001f;
  }

  &.active { 
    rect.cursor{
      fill: #777;
      animation-name: cursor-blink;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    g.svg-textarea-select{
      fill: #76a7fa7f;
    }
  }
}