@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp5eKQtG.woff2');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwZsPF4o.woff2');
}
